@import 'variables';

@media(max-width: 768px) {
    .about_dropdown {
        width: 98% !important;
        margin-top: 1.7rem !important;
    }
}

.about {
    &_dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 6rem;
        &_content {
            margin-bottom: 0.5rem;
            width: 95%;
            color: black;
        }
    }
}