@import 'variables';
@import 'fonts';
@import 'Header';
@import 'Banner';
@import 'Home';
@import 'Collapse';
@import 'Slides';
@import 'HousingPage';
@import 'About';
@import 'Error404';
@import 'Footer';

html {
    position: relative;
    min-height: 100%;
    margin: auto;
    max-width: 1440px;
    font-size: 18px;
    color: $primary-color;
    font-family: 'Montserrat-Regular';
    background: $bg-clr;
}

ul {
    padding: 0;
}

li {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-color;
}